---
    import { SITE } from '$/config'
    import SvgIcon from './SvgIcon.astro'
    import ModeSwitcherBtn from './ModeSwitcherBtn.svelte'
    import SearchBtn from './SearchBtn.svelte'

---

<header class="header">
    <div class="header__logo">
        <a href="/" class="avatar">
            <img class="header__logo-img" src="/assets/blagica-transparrent3.png" alt="Blagica" />
        </a>
    </div>
    <div class="header__meta flex-1 flex flex-col place-content-center">
        <h3 class="header__title dark:text-primarySecondaryDark flex flex-row content-center justify-between">
            <a href="">{ SITE.name }</a>
            <nav class="header__nav flex self-start md:self-center">
                <ul class="header__ref-list">
                    <!-- <li>
                        <SearchBtn client:visible />
                    </li> -->
                    <li class="self-center">
                        <a href={ SITE.githubUrl } title={`${ SITE.name }'s Github URL'`}>
                            <SvgIcon>
                                <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                            </SvgIcon>
                        </a>
                    </li>
                    <li class="self-center">
                        <a href={ SITE.linkedInUrl } title={`${ SITE.name }'s LinkedIn URL'`}>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#9ca3af" viewBox="0 0 48 48" width="24px" height="24px">    <path d="M25,2C12.318,2,2,12.317,2,25s10.318,23,23,23s23-10.317,23-23S37.682,2,25,2z M18,35h-4V20h4V35z M16,17 c-1.105,0-2-0.895-2-2c0-1.105,0.895-2,2-2s2,0.895,2,2C18,16.105,17.105,17,16,17z M37,35h-4v-5v-2.5c0-1.925-1.575-3.5-3.5-3.5 S26,25.575,26,27.5V35h-4V20h4v1.816C27.168,20.694,28.752,20,30.5,20c3.59,0,6.5,2.91,6.5,6.5V35z"/></svg>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="/rss.xml" title="RSS">
                            <SvgIcon>
                                <path d="M4 11a9 9 0 0 1 9 9"></path>
                                <path d="M4 4a16 16 0 0 1 16 16"></path>
                                <circle cx="5" cy="19" r="1"></circle>
                            </SvgIcon>
                        </a>
                    </li> -->
                    <!-- <li>
                        <ModeSwitcherBtn client:visible />
                    </li> -->
                </ul>
            </nav>
        </h3>
        <div class="header__meta-more flex">
            <p class="header__desc">
                { SITE.description }
            </p>
        </div>
    </div>
</header>

<style>
    .header {
        @apply flex flex-nowrap gap-4 border-b pt-3 /* border-gray-200 dark:border-gray-700 - check styles/global.css */
    }
    .header__logo-img {
        background: radial-gradient(ellipse at 60% 40%, theme(colors.primaryDark) 0 10%, transparent 45% 100%),
                    radial-gradient(ellipse at 65% 70%, theme(colors.primaryDark) 0 1%, transparent 30% 100%);

        @apply w-32 h-32 md:w-64 md:h-64 overflow-hidden rounded-xl
    }
    .header__title {
        @apply text-3xl font-extrabold md:text-5xl text-primarySecondary dark:text-primarySecondaryDark
    }
    .header__desc {
        @apply text-lg md:text-xl flex-1 dark:text-gray-200
    }
    .header__ref-list {
        @apply flex gap-3 text-gray-400
    }
</style>
